{erl_opts, [
    {parse_transform, lager_transform},
     {i, "include"},
      warn_unused_vars
 ]}.
     %warnings_as_errors,

{deps, [
    { lager, "2.0.1",    {git, "git@github.com:basho/lager.git",       {tag, "2.0.1"}}},
    { cowboy, "1.1.0", {git, "git@github.com:extend/cowboy.git",  "1.1.0"}},
    { jiffy, ".*", {git, "git@github.com:davisp/jiffy.git", {branch, "master"}}},
    { mcd, "1.1.0", {git, "git@github.com:perldev/mcd-1.git", {branch, "master"}}},
    { pickle, ".*", {git, "git@github.com:jdavisp3/pickle.git", {branch, "master"}}},
    { emysql, ".*", {git, "git@github.com:Eonblast/Emysql.git", {branch, "master"}}}
]}.



{relx, [{release, { front, "0.1.0" },
         [front,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
