[
  { front, [
     {routes,  [ { [<<"api">>,<<"balance">>], <<"http://127.0.0.1:80">>  },
                 { [<<"api">>,<<"my_orders">>], <<"http://127.0.0.1:9000">>  },
                 { [<<"api">>,<<"order">>, <<"status">>], <<"http://127.0.0.1:9000">>  },
                 { [<<"api">>, <<"trades">>, <<"buy">>], <<"http://127.0.0.1:9000">>  },
                 { [<<"api">>, <<"trades">>, <<"sell">>], <<"http://127.0.0.1:9000">>  },
                 { [<<"api">>, <<"deals">>], <<"http://127.0.0.1:80">>  },
                 { [<<"api">>, <<"japan_stat">>, <<"high">>], <<"http://127.0.0.1:80">>  },
                 { [<<"api">>, <<"market_prices">>], <<"http://127.0.0.1:80">>  }
              ]  },
              
     {token,"sldkfj_4tjnaknsh_Agacvj3m6e=ico6x"}
   
  
  ]} 
].
